.main {
  margin-top: 6rem;
  padding-inline: 2.6rem;
}

.main__products {
  margin-top: 6rem;
}

.main__products__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
.main__products__container > * {
  border-bottom: 1px solid #000;
}

@media (min-width: 41.875em) {
  .main__products__container > *:nth-child(odd) {
    border-right: 1px solid #000;
  }
}
@media (min-width: 60.625em) {
  .main__products__container > *:nth-child(3n) {
    border-left: 1px solid #000;
    border-right: 1px solid #00000000;
  }
  .main__products__container > :last-child {
    border-right: 1px solid #000000;
  }
}
@media (min-width: 79.25em) {
  .main__products__container > :last-child {
    border-left: 1px solid #000;
    border-right: 1px solid hsla(0, 0%, 0%, 0);
  }
}

.main__products__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--font-color-text);
}

.main__products__title a {
  color: var(--font-color-text);
}
.main__products__title .h2 {
  font-size: 3.2rem;
  text-transform: capitalize;
  font-weight: 500;
}

.h2 {
  font-family: var(--font-secondary);
}
