.textCenter {
  text-align: center;
}
.footerPage__container__copyright__left--country {
  display: flex;
  align-items: center;
}
.footerPage__container__copyright,
.footerPage__container__copyright__left,
.news,
.column__link {
  display: flex;
  flex-direction: column;
}
.footerPage__container__detail .headingColumn {
  font-family: var(--font-secondary);
  font-size: 2.6rem;
  text-transform: capitalize;
  padding: 3rem 2.6rem;
  border-bottom: 1px solid var(--beige);
  text-align: center;
}
.column {
  grid-column: 1/3;
  border-bottom: 1px solid var(--beige);
  border-right: 1px solid var(--beige);
}
@media (min-width: 75em) {
  .column {
    grid-column: 1/2;
  }
}
.column__link > a,
.column__link p {
  color: var(--beige);
  padding-inline: 2.6rem;
  padding-bottom: 1rem;
  text-transform: capitalize;
}
.column__link > a:first-child,
.column__link p:first-child {
  padding-top: 2rem;
}
.column__link > a:last-child,
.column__link p:last-child {
  padding-bottom: 2rem;
}
.activeLink .link {
  color: var(--font-color-primary) !important;
  font-weight: 600 !important;
}
.activeLink::before {
  content: '';
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transition: all 0.3s;
  background: url('/images/circle.svg') no-repeat center center/contain;
  display: inline-block;
  width: 20.3rem;
  height: 6.4rem;
  position: absolute;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(10px);
  }
  70% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  90% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
.news {
  gap: 1rem;
}
.news input {
  border: none;
  border: 1px solid var(--beige);
  border-radius: 3px;
  padding: 1.5rem 1.3rem;
  width: 100%;
  background-color: var(--beige);
  width: 100%;
  font-family: inherit;
}
.news input::placeholder {
  color: var(--font-color-text);
}
.news input:focus {
  outline: none;
}
.btn {
  transition: all 0.3s;
  cursor: pointer;
  font-size: 1.8rem;
  font-family: inherit;
  padding: 1.4rem;
  border-radius: 3px;
}
.btn--main {
  background-color: var(--font-color-primary);
  color: var(--beige);
  width: 100%;
  text-transform: capitalize;
  border: 2px solid var(--font-color-primary);
  transition: all 0.9s linear;
}
.btn--main:hover {
  transition: all 0.3s;
  opacity: 80%;
}
.footerPage {
  background-color: var(--font-color-text);
  color: var(--beige);
  width: 100%;
}
.footerPage__container__detail {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footerPage__container__detail__media {
  grid-column: 3/-1;
}
@media (min-width: 75em) {
  .footerPage__container__detail__media {
    grid-column: 2/3;
  }
}
.footerPage__container__detail__info {
  grid-column: 1/-1;
}
@media (min-width: 37.5em) {
  .footerPage__container__detail__info {
    grid-column: 1/3;
  }
}
@media (min-width: 75em) {
  .footerPage__container__detail__info {
    grid-column: 3/4;
  }
}
.footerPage__container__detail__info:has(> .center) .column__link {
  padding-left: 20vw;
}
@media (min-width: 37.5em) {
  .footerPage__container__detail__info:has(> .center) .column__link {
    padding-left: unset;
  }
}
.footerPage__container__detail__news {
  grid-column: 1/5;
}
@media (min-width: 37.5em) {
  .footerPage__container__detail__news {
    grid-column: 3/5;
  }
}
@media (min-width: 75em) {
  .footerPage__container__detail__news {
    grid-column: 4/-1;
  }
}
.footerPage__container__detail__news form {
  margin: 2rem 0;
  padding-inline: 2.6rem;
}
.footerPage__container__copyright {
  text-align: center;
  margin-top: 2rem;
}
@media (min-width: 75em) {
  .footerPage__container__copyright {
    flex-direction: row !important;
    justify-content: space-between;
  }
}
.footerPage__container__copyright__left {
  align-items: center;
  gap: 0.5rem;
}

@media (min-width: 75em) {
  .footerPage__container__copyright__left {
    flex-direction: row !important;
    gap: 3rem !important;
    padding-left: 2.6rem;
  }
}
.footerPage__container__copyright__left--copy a {
  text-decoration: underline;
  color: var(--beige);
}
.footerPage__container__copyright__right p {
  padding: 2.6rem;
  opacity: 80%;
}
