.recommended {
  margin-top: 23.2rem;
  margin-bottom: 5rem;
}
.recommended__container {
  /* padding: 2.8rem 1.6rem; */
}
.main__products__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--font-color-text);
}

.main__products__title a {
  color: var(--font-color-text);
}
.main__products__title .h2 {
  font-size: 3.2rem;
  text-transform: capitalize;
  font-weight: 500;
}

.h2 {
  font-family: var(--font-secondary);
}
